################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ApalloFinal/FileContentIndex
/.vs/ApalloFinal/FileContentIndex/2a7cc515-58fa-4303-8201-74be947085e4.vsidx
/.vs/ApalloFinal/FileContentIndex/655cd33b-ded3-4541-93c3-e56119ec999e.vsidx
/.vs/ApalloFinal/FileContentIndex/d29777f1-a9c1-428a-99f2-0d3c669a1385.vsidx
/.vs/ApalloFinal/FileContentIndex/d412226b-5118-48ea-afef-391ecc20b469.vsidx
/.vs/ApalloFinal/FileContentIndex/d52927a8-8340-44ca-8e3a-fb2244d2581f.vsidx
/.vs/ApalloFinal/v17
/.vs/ApalloFinal/v17/.wsuo
/.vs/ApalloFinal/v17/Browse.VC.db
/.vs/ApalloFinal/v17/Browse.VC.db-shm
/.vs/ApalloFinal/v17/Browse.VC.db-wal
/.vs/ApalloFinal/v17/Browse.VC.opendb
/.vs/ApalloFinal/v17/ipch/AutoPCH
/.vs/ApalloFinal/v17/ipch/AutoPCH/1d9dc43872afe458
/.vs/ApalloFinal/v17/ipch/AutoPCH/1d9dc43872afe458/GLDEMO.ipch
/.vs/ApalloFinal/v17/ipch/AutoPCH/2fb283b349ab9f7f
/.vs/ApalloFinal/v17/ipch/AutoPCH/2fb283b349ab9f7f/UNITTEST.ipch
/.vs/ApalloFinal/v17/ipch/AutoPCH/598f4f139a9daeb7
/.vs/ApalloFinal/v17/ipch/AutoPCH/598f4f139a9daeb7/GROUND.ipch
/.vs/ApalloFinal/v17/ipch/AutoPCH/5bbb2a9b702be834
/.vs/ApalloFinal/v17/ipch/AutoPCH/5bbb2a9b702be834/POINT.ipch
/.vs/ApalloFinal/v17/ipch/AutoPCH/87e3bdfa7262e0a8
/.vs/ApalloFinal/v17/ipch/AutoPCH/87e3bdfa7262e0a8/TESTANGLE.ipch
/.vs/ApalloFinal/v17/ipch/AutoPCH/a2a3d4c559595140
/.vs/ApalloFinal/v17/ipch/AutoPCH/a2a3d4c559595140/UIDRAW.ipch
/.vs/ApalloFinal/v17/ipch/AutoPCH/d54cdedfe2e7efd5
/.vs/ApalloFinal/v17/ipch/AutoPCH/d54cdedfe2e7efd5/UIINTERACT.ipch
/.vs/Lab03
/.vs/Lab03/FileContentIndex
/.vs/Lab03/FileContentIndex/70d234a6-9bbc-48b3-b5ac-dd73043b4d0a.vsidx
/.vs/Lab03/v17
/.vs/Lab03/v17/.suo
/.vs/Lab03/v17/Browse.VC.db
/.vs/Lab03/v17/ipch/AutoPCH
/.vs/Lab03/v17/ipch/AutoPCH/51442b5af7a58b16
/.vs/Lab03/v17/ipch/AutoPCH/51442b5af7a58b16/GROUND.ipch
/.vs/Lab03/v17/ipch/AutoPCH/aa0530595677d75d
/.vs/Lab03/v17/ipch/AutoPCH/aa0530595677d75d/GLDEMO.ipch
/.vs/Lab03/v17/ipch/AutoPCH/c4556bab2c91aad
/.vs/Lab03/v17/ipch/AutoPCH/c4556bab2c91aad/UIINTERACT.ipch
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Debug
/Debug/freeglut.dll
/Debug/glDemo.obj
/Debug/glew32.dll
/Debug/glewinfo.exe
/Debug/glfw3.dll
/Debug/ground.obj
/Debug/Lab03.exe
/Debug/Lab03.exe.recipe
/Debug/Lab03.ilk
/Debug/Lab03.pdb
/Debug/Lab03.tlog
/Debug/Lab03.tlog/CL.command.1.tlog
/Debug/Lab03.tlog/CL.read.1.tlog
/Debug/Lab03.tlog/CL.write.1.tlog
/Debug/Lab03.tlog/Lab03.lastbuildstate
/Debug/Lab03.tlog/link.command.1.tlog
/Debug/Lab03.tlog/link.read.1.tlog
/Debug/Lab03.tlog/link.write.1.tlog
/Debug/Lab03.vcxproj.FileListAbsolute.txt
/Debug/point.obj
/Debug/uiDraw.obj
/Debug/uiInteract.obj
/Debug/vc142.idb
/Debug/vc142.pdb
/Debug/visualinfo.exe
/packages
/packages/nupengl.core.0.1.0.1
/packages/nupengl.core.0.1.0.1/.signature.p7s
/packages/nupengl.core.0.1.0.1/build
/packages/nupengl.core.0.1.0.1/build/configurations.autopkg
/packages/nupengl.core.0.1.0.1/build/native
/packages/nupengl.core.0.1.0.1/build/native/default-propertiesui.xml
/packages/nupengl.core.0.1.0.1/build/native/docs
/packages/nupengl.core.0.1.0.1/build/native/docs/license.txt
/packages/nupengl.core.0.1.0.1/build/native/include
/packages/nupengl.core.0.1.0.1/build/native/include/GL
/packages/nupengl.core.0.1.0.1/build/native/include/GL/freeglut.h
/packages/nupengl.core.0.1.0.1/build/native/include/GL/freeglut_ext.h
/packages/nupengl.core.0.1.0.1/build/native/include/GL/freeglut_std.h
/packages/nupengl.core.0.1.0.1/build/native/include/GL/glew.h
/packages/nupengl.core.0.1.0.1/build/native/include/GL/glut.h
/packages/nupengl.core.0.1.0.1/build/native/include/GL/glxew.h
/packages/nupengl.core.0.1.0.1/build/native/include/GL/wglew.h
/packages/nupengl.core.0.1.0.1/build/native/include/GLFW
/packages/nupengl.core.0.1.0.1/build/native/include/GLFW/glfw3.h
/packages/nupengl.core.0.1.0.1/build/native/include/GLFW/glfw3native.h
/packages/nupengl.core.0.1.0.1/build/native/lib
/packages/nupengl.core.0.1.0.1/build/native/lib/Win32
/packages/nupengl.core.0.1.0.1/build/native/lib/Win32/freeglut.lib
/packages/nupengl.core.0.1.0.1/build/native/lib/Win32/glew32.lib
/packages/nupengl.core.0.1.0.1/build/native/lib/Win32/glfw3dll.lib
/packages/nupengl.core.0.1.0.1/build/native/lib/x64
/packages/nupengl.core.0.1.0.1/build/native/lib/x64/freeglut.lib
/packages/nupengl.core.0.1.0.1/build/native/lib/x64/glew32.lib
/packages/nupengl.core.0.1.0.1/build/native/lib/x64/glfw3dll.lib
/packages/nupengl.core.0.1.0.1/build/native/nupengl.core.targets
/packages/nupengl.core.0.1.0.1/build/publisher-info.txt
/packages/nupengl.core.0.1.0.1/nupengl.core.0.1.0.1.nupkg
/packages/nupengl.core.redist.0.1.0.1
/packages/nupengl.core.redist.0.1.0.1/.signature.p7s
/packages/nupengl.core.redist.0.1.0.1/build
/packages/nupengl.core.redist.0.1.0.1/build/configurations.autopkg
/packages/nupengl.core.redist.0.1.0.1/build/native
/packages/nupengl.core.redist.0.1.0.1/build/native/bin
/packages/nupengl.core.redist.0.1.0.1/build/native/bin/Win32
/packages/nupengl.core.redist.0.1.0.1/build/native/bin/Win32/freeglut.dll
/packages/nupengl.core.redist.0.1.0.1/build/native/bin/Win32/glew32.dll
/packages/nupengl.core.redist.0.1.0.1/build/native/bin/Win32/glewinfo.exe
/packages/nupengl.core.redist.0.1.0.1/build/native/bin/Win32/glfw3.dll
/packages/nupengl.core.redist.0.1.0.1/build/native/bin/Win32/visualinfo.exe
/packages/nupengl.core.redist.0.1.0.1/build/native/bin/x64
/packages/nupengl.core.redist.0.1.0.1/build/native/bin/x64/freeglut.dll
/packages/nupengl.core.redist.0.1.0.1/build/native/bin/x64/glew32.dll
/packages/nupengl.core.redist.0.1.0.1/build/native/bin/x64/glewinfo.exe
/packages/nupengl.core.redist.0.1.0.1/build/native/bin/x64/glfw3.dll
/packages/nupengl.core.redist.0.1.0.1/build/native/bin/x64/visualinfo.exe
/packages/nupengl.core.redist.0.1.0.1/build/native/default-propertiesui.xml
/packages/nupengl.core.redist.0.1.0.1/build/native/nupengl.core.redist.targets
/packages/nupengl.core.redist.0.1.0.1/build/publisher-info.txt
/packages/nupengl.core.redist.0.1.0.1/nupengl.core.redist.0.1.0.1.nupkg
/x64/Debug
/x64/Debug/freeglut.dll
/x64/Debug/glDemo.obj
/x64/Debug/glew32.dll
/x64/Debug/glewinfo.exe
/x64/Debug/glfw3.dll
/x64/Debug/ground.obj
/x64/Debug/Lab03.exe
/x64/Debug/Lab03.exe.recipe
/x64/Debug/Lab03.ilk
/x64/Debug/Lab03.log
/x64/Debug/Lab03.pdb
/x64/Debug/Lab03.tlog
/x64/Debug/Lab03.tlog/CL.command.1.tlog
/x64/Debug/Lab03.tlog/CL.read.1.tlog
/x64/Debug/Lab03.tlog/CL.write.1.tlog
/x64/Debug/Lab03.tlog/Lab03.lastbuildstate
/x64/Debug/Lab03.tlog/link.command.1.tlog
/x64/Debug/Lab03.tlog/link.read.1.tlog
/x64/Debug/Lab03.tlog/link.write.1.tlog
/x64/Debug/Lab03.vcxproj.FileListAbsolute.txt
/x64/Debug/point.obj
/x64/Debug/uiDraw.obj
/x64/Debug/uiInteract.obj
/x64/Debug/vc142.idb
/x64/Debug/vc142.pdb
/x64/Debug/visualinfo.exe
